.navbar {
  background-color: #822ef5 !important;
  position: fixed;
  width: 100%;
  z-index: 10;
}

.container-fluid {
  color: #fafafa;
}

.navbar-brand {
  color: #e6e6e6;
}

.nav-link {
  color: #e6e6e6;
}
.navbar {
  background-color: #822ef5;
  color: #fafafa;
}

.navbar-brand {
  color: #e6e6e6;
}

.nav-link {
  color: #e6e6e6;
}

.offcanvas {
  background-color: #822ef5;
  width: 80% !important;
}
