.footer {
  background-color: var(--white-color);
  padding: 20px;
  text-align: center;
  margin-top: auto;
  background-color: #ccc;
  color: #555;
}

.footer-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.form {
  margin-bottom: 20px;
}

.form h4 {
  margin-bottom: 10px;
  color: #555;
}

.form form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form input,
.form textarea {
  margin-bottom: 10px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

.form textarea {
  resize: none;
}

.form button {
  padding: 8px 16px;
  background-color: #555;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
}

.form button:hover {
  background-color: #333;
}

.footer-contact,
.footer-social {
  margin-bottom: 20px;
}

.footer-contact h4,
.footer-social h4 {
  margin-bottom: 10px;
}



.data {
  display: flex;
  list-style: none;
}

.data li {
  font-size: 13px;
  margin: 0 10px;
}

.data span {
  font-weight: 600;
}

.footer-social ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.footer-social li {
  margin: 0 10px;
  text-transform: uppercase;
}

.footer-social a {
  color: #555;
  text-decoration: none;
  font-size: 12px;
}

.footer-copyright {
  margin: 0;
  font-size: 12px;
}
